<footer class="fixed-footer">
    <p class="footer-line">
      <a href="mailto:saikia@chaynika.dev"><img border=0 style="border:0; text-decoration:none; outline:none; border-style: none; margin-right: auto; margin-left: auto; padding: 5px" src="/assets/data/email-32.png" height="30" width="30"></a>
      <a href="https://www.github.com/chaynika"><img border=0 style="border:0; text-decoration:none; outline:none; border-style: none; margin-right: auto; margin-left: auto; padding: 5px" src="/assets/data/Octocat.png"  height="30" width="30"></a>
      <a href="https://www.linkedin.com/in/schaynika"><img border=0 style="border:0; text-decoration:none; outline:none; border-style: none; margin-right: auto; margin-left: auto; padding: 5px" src="/assets/data/linkedin-3-32.png" height="30" width="30"></a>
      <a href="http://twitter.com/ChaynikaSaikia1"><img border=0 style="border:0; text-decoration:none; outline:none; border-style: none; margin-right: auto; margin-left: auto; padding: 5px" src="/assets/data/twitter-32.ico" height="30" width="30"></a>
      <a href="https://www.instagram.com/schaynika"><img border=0 style="border:0; text-decoration:none; outline:none; border-style: none; color: inherit; margin-right: auto; margin-left: auto; padding: 5px" src="/assets/data/ig2.png" height="30" width="30"></a>
    </p>
</footer>