<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <div class="fixed-header">
        <div class="container">
            <nav>
                <a href="chaynika.github-pages.io/home">Home</a>
                <a href="chaynika.github-pages.io/resume">Resume</a>
                <a href="chaynika.github-pages.io/travel-blogs">Travel Blogs</a>
            </nav>
        </div>
  </div>


   
</head>
