<!DOCTYPE html>
<html>

  {% include head.html %}

  {% include header-fixed.html %}
  <body class="theme-{% if site.resume_theme %}{{ site.resume_theme }}{% endif %}">

  <div class="header-contact-info">
	  <p>Hi, I am Chaynika Saikia. Currently living in San Francisco Bay Area. I am currently working as a Software Engineer at NVIDIA, working on building highly available infrastructure for NVIDIA's cloud gaming platform. I love traveling, hiking and exploring nature. Fitness is my lifestyle and stressbuster. </p>
    	  <img src="chaynika.github-pages.io/images/DSC00132.jpg" alt="my photo" class="avatar no-print" itemprop="image">
	  <p>Download the PDF version of my resume <a href="assets/data/Resume-1.pdf" type="application/pdf">here</a></p>
  </div>

  </body>

</html>
