<!DOCTYPE html>
<html>

  {% include head.html %}

  {% include header-fixed.html %}
  <body class="theme-{% if site.resume_theme %}{{ site.resume_theme }}{% endif %}">

	  <div class="about-me-text cs-row">
		<img src="images/DSC00132.jpg" alt="my photo" itemprop="image" class='iconDetails'>
		<div class="about-me-text-box">
		  	<p>Hi, I am Chaynika Saikia. I am a Software Engineer at NVIDIA, working on building highly available infrastructure for NVIDIA's cloud gaming platform.</p>
			<p>My interests are Distributed Systems, Storage Systems and Virtualization.</p>
			<p>On a nice sunny weekend, I usually am out enjoying a hike or a bike ride. My hobbies include traveling and photography. Fitness is my lifestyle and stress buster.</p>
			<p>Download the PDF version of my resume <a href="assets/data/Resume-1.pdf" type="application/pdf">here</a> </p>
		</div>
	  </div>
    <footer class="page-footer">
		  <p class="footer-line">Find me on <a href="https://www.github.com/chaynika">Github</a></p>
    </footer>

  </body>

</html>
